@model CodeWithArash.Models.CartViewModel;


@{
    ViewData["Title"] = "Basket";
}


<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>@item.BasketItem.Product.Name</td>
            <td>@item.Quantity</td>
            <td>@item.GetTotalPrice()</td>
            <td>
                <a asp-action="RemoveCart" asp-route-itemId="@item.BasketItem.Id">Remove</a>
            </td>
        </tr>
    }
    </tbody>

</table>
<h5>جمع کل : @Model.OrderTotal</h5>

